# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
dist/
build/

# Jupyter notebooks checkpoints
*.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log
lightning_logs/

# Models / Checkpoints
*.pth
*.pt
*.ckpt

# Data files
*.npz
*.npy
*.csv
*.h5
*.hdf5